body {
    font-family: 'Raleway', sans-serif;
}


/*-- nav --*/

.bg-gris {
    background-color: #373A3C;
}

fs-24 {
    font-size: 50px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}